{
  "extends": ["airbnb-base", "plugin:@typescript-eslint/recommended", "prettier"],
  "env": {
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["import", "@typescript-eslint", "prettier"],
  "rules": {
    "camelcase": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "error",
    "no-console": "off",
    "no-restricted-syntax": "off",
    "import/extensions": ["warn", { "ts": "never" }],
    "import/no-unresolved": "error",
    "import/no-extraneous-dependencies": [
      "warn",
      { "devDependencies": ["**/*.spec.ts", "test-setup.ts"] }
    ],
    "import/order": [
      "warn",
      {
        "groups": [["builtin", "external"], ["internal"], ["parent", "sibling", "index"]],
        "newlines-between": "always",
        "alphabetize": { "order": "asc", "caseInsensitive": true }
      }
    ],
    "import/prefer-default-export": "off"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": "typescript"
  }
}
